[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
google = "*"
google-auth = "*"
pydantic = "*"
google-cloud = "*"
vertexai = "*"
python-dotenv = "*"
firebase-admin = "*"
uvicorn = "*"
typing-extensions = "*"
uuid = "*"

[dev-packages]

[requires]
python_version = "3.11"
